body {
    padding-top: 100px;
}

.jumbotron {
    margin-top: -20px;
    text-align: center;
}

.pizza-image {
	margin: 0 auto;
	padding: 15px 0;
}

.social-list li {
	margin: 20px 0;
}

.social-list i {
	font-size: 20px;
	vertical-align: middle;
}

.fa-facebook-official {
	color: #3b5998;
}

.fa-twitter {
	color: #00aced;
}

.contact-info {
	background: #EDEFF0;
	color: #4e4e4e;
	padding: 32px 15px;
	margin: auto;
}

.white-card {
	background: white;
	padding: 5px 15px;
}

.pizza-photo {
	height: 500px;
}

.site-container {
	text-align: center;
}